<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mrtubbs.savepage">

	<!--:-->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
		android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
        android:theme="@style/AppTheme">
		
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		<activity android:name=".SiteListAct"/>
			
		<activity android:name=".BrowserAct"></activity>
		
		<activity android:name="mrtubbs.savepage.Sharer"
			android:theme="@style/dialog">
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="file" />
				<data android:scheme="content" />
				<data android:mimeType="*/mht" />
				<!--
				Work around Android's ugly primitive PatternMatcher
				implementation that can't cope with finding a . early in
				the path unless it's explicitly matched.
				-->
				<data android:host="*" />
				<data android:pathPattern=".*\\.mht" />
				<data android:pathPattern=".*\\..*\\.mht" />
				<data android:pathPattern=".*\\..*\\..*\\.mht" />
				<data android:pathPattern=".*\\..*\\..*\\..*\\.mht" />
				<!-- keep going if you need more -->

			</intent-filter>
			
		</activity>
		<service android:name="SaveService"
			android:enabled="true"
			android:label="saveservicelabel">
		</service>
    </application>

</manifest>
